body, html {
    height: 100%;
    background-color: rgb(144, 201, 191) !important;
}

.page { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    height: 768px;
}

.title{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
}

.outcome{
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.rock, .paper, .scissors, .opponent{
    height: 346px;
    width: 208px;
    margin-top: 20%;
    cursor: pointer;
}

.wins, .losses{
    text-align: right;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 19px;
}

.play{
    color: gray;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin: 5% 10%;
}